@import "tailwindcss";

:root {
    --background: #000000;
    --foreground: #14FF3F;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Geist Mono", sans-serif;
}

@font-face{
    font-family: 'Somy';
    src: url('./somy.ttf');
}

@font-face{
    font-family: 'Geist Mono';
    src: url("./GeistMono.ttf")
}

h1, h2, h3 {
    color: var(--foreground);
    font-family: "Somy", sans-serif;
    letter-spacing: -2px;
}



